node_modules
log-classfication-frontend/node_modules
log-classfication-frontend/dist
log-classfication-frontend/.git
.git
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.db
.DS_Store
.vscode
.idea
*.egg-info
*.cache
*.pytest_cache
dist
build
resources/output.csv
